[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=hamza
Group=hamza
WorkingDirectory=/home/hamza/app/src/
Environment="PATH=/home/hamza/app/venv/bin"
EnvironmentFile=/home/hamza/.env
ExecStart=/home/hamza/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
